{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container h-100 ">
        <hr>
        <h1 class="text-center py-4 text-black text-uppercase"><strong>Music Production Tools & Devices</strong></h1>
        <hr>
        <div class="row background">
            <div class="row image-container">
                <img class="">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-white">
                        Music production solutions in the form of Max For Live Devices
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-dark px-4 rounded-pill text-uppercase py-3">Visit Shop</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5 text-center">
        <h1 class="display-6 logo-font text-black">
            Flowstate offer custom solutions to common music production problems in the form of Max for Live devices that work within the DAW, Ableton Live.
        </h1>
    </div>

{% endblock %}