html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Rubik', sans-serif;
}

.image-container {
    width: 80%;
    margin: auto;
    padding-top: 117px;
}

.background {
    background: url('https://images.unsplash.com/photo-1602785157071-103d66e87cfc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#main-nav-logo {
    max-width: 65%;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.card-img-top {
    object-position: center;
    object-fit: cover;
    height: 260px;
    width: 100%;
}

.card-img-full {
    height: 100%;
}

.product-card-name,
.product-card-name:hover {
    text-decoration: none;
    color: #555;
}

a.category-badge > span.badge:hover {
    background: #3ea6eb !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    border: 1px solid #555;
}

.btt-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ----------------------------------- Footer */

footer {
    position: relative;
}

footer svg {
    position: absolute;
}

.footer-text {
    position: absolute;
    top: 200px;
}

.social-links a {
    font-size: 2rem;
    color: #fff;
}

.social-links a:hover {
    color: #6c757d;
    text-decoration: none;
    transition: 0.3s;
}

/* ------------- animation from https://zcreativelabs.com/blog/how-to-add-svg-waves-to-your-next-web-project/ */

@keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
  }

  footer > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }

/* ----------------------------- Bootsrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth templates */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt4 */
    color: #6c757d; /* text secondary */
}

.allauth-form-inner-content input {
    border-color: #3ea6eb;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

@media (max-width: 640px) {
    .display-3.logo-font {
        font-size: 2rem;
    }

    .display-5.logo-font {
        font-size: 1rem;
    }

    .shop-now-button {
        padding: 0.8rem 1rem;
        min-width: 157px;
    }
}

/* pad the top when navbar collapsed on mobile */
@media (min-width: 641px) and (max-width: 991px) {
    .header-container {
        padding-top: 117px;
    }

    .image-container {
        padding-top: 25px;
    }

    body {
        height: calc(100vh);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .display-3.logo-font {
        font-size: 3rem;
    }

    .display-5.logo-font {
        font-size: 1.1rem;
    }

    .shop-now-button {
        padding: 0.8rem 1rem;
        min-width: 157px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 128px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }