html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Rubik', sans-serif;
}

.image-container {
    width: 80%;
    margin: auto;
    padding-top: 117px;
}

.background {
    background: url('https://images.unsplash.com/photo-1551288449-085e5252e44e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    height: calc(100vh - 117px);
    width: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#main-nav-logo {
    max-width: 65%;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.card-img-top {
    object-position: center;
    object-fit: cover;
    height: 260px;
    width: 100%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 117px;
    }
}

/* pad the top when navbar collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 117px;
    }

    body {
        height: calc(100vh - 117px);
    }
}
