{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
<div class="container py-5 text-center">
    <h1 class="display-6 logo-font text-black">
        Flowstate offer custom solutions to common music production problems in the form of Max for Live devices that work within the DAW, Ableton Live.
    </h1>
</div>

{% endblock %}