{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Contact</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <form method="POST" enctype="multipart/form-data" class="form" action="{% url 'contact' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                    <div class="text-center">
                        <button class="btn btn-dark rounded-pill py-2 btn-block" type="submit">Submit</button>
                        <a href="{% url 'home' %}" class="btn btn-light rounded-pill py-2 btn-block"><span class="icon"><i class="fas fa-chevron-left"></i></span> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}